<div class="container-fluid">
	<form>
		<div class="input-group input-group-lg search-bar">
			<input type="text" class="form-control" #user aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
			<button type="button" (click)="search(user.value); user.value=''"class="btn btn-dark"><i class="fas fa-search"></i></button>
		</div>
	</form>

	<div class="displays">
		<div class="row row-cols-3">
			<div class="users col" *ngFor="let user of users">
				<app-user [user]='user' ></app-user>
			</div>

			<div class="col">
				<ul class="repos" *ngFor="let repo of repos">
					<app-repositories [repo]='repo' ></app-repositories>
				</ul>
			</div>
		</div>  
	</div>

</div>